body {
	font-family: sans-serif;
  background: url(http://subtlepatterns.com/patterns/use_your_illusion.png);
}

input {
  display: none;
}

.slider {
	position: relative;
	width: 900px;
	margin: 50px auto;
}

.img {
  position: absolute;
  width: 900px;
  height: 537px;
  opacity: 0;
  transition: opacity 0.5s;
}
.img1 {
  background: url("img/awax.png") no-repeat center;
}
.img2 {
  background: url("img/barbershop.png") no-repeat center;
}
.img3 {
  background: url("img/mishka.png") no-repeat center;
}
.img4 {
  background: url("img/rz.png") no-repeat center;
}
.img5 {
  background: url("img/sedona.png") no-repeat center;
}
.go {
	display: none;
	position: absolute;
	bottom: -70px;
	left: 50%;
	width: 160px;
	margin-left: -80px;
	padding: 15px 0;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #b3e5fa;
	border-radius: 2px;
	background: #4ec6de;
	transition: background 0.3s,
	            opacity 0.3s,
				color 0.3s;
}

.go:hover {
	background: #b3e5fa;
	color: #2e2e2e;
}

.go:active {
	opacity: .7;
}
.controls {
	position: absolute;
	padding-bottom: 100px;
	bottom: -160px;
	left: 50%;
	margin-left: -45px;
}
.controls > label {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #b3e5fa;
  float: left;
  margin-right: 10px;
  margin-top: 20px;
}
.controls > label:last-child {
  margin-right: 0;
}

#slide1:checked ~ .slider .img1,
#slide2:checked ~ .slider .img2,
#slide3:checked ~ .slider .img3,
#slide4:checked ~ .slider .img4,
#slide5:checked ~ .slider .img5 {
  opacity: 1;
}
#slide1:checked ~ .slider .go1,
#slide2:checked ~ .slider .go2,
#slide3:checked ~ .slider .go3,
#slide4:checked ~ .slider .go4,
#slide5:checked ~ .slider .go5  {
	display: block;
}
.controls label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
  background: #4ec6de;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	margin-left: 10px;
}
.footer div {
	margin-bottom: 10px;
}
.social {
     display: flex;
     align-items: center;	 
	 text-decoration: none;
}


.social span {
	display: block;
	font-size: 0;
	padding: 16px;
	margin-right: 10px;
}
.social-vk span {
	background: url("img/003-vk-social-network-logo.png") no-repeat center;
}
.social-mail span {
	background: url("img/001-close-envelope.png") no-repeat center;	
}
.social-git span {
	background: url("img/004-github.png") no-repeat center;	
}
.social-phone span {
	background: url("img/002-phone-receiver.png") no-repeat center;	
}

.social b {
	display: block;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}
.social:hover {
    text-decoration: underline #fff;
}
.social-mail:hover {
	text-decoration: none;
	cursor: default;
}
.social-phone:hover {
	text-decoration: none;
	cursor: default;
}
.side-controls label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;
  transition: opacity .5s; 
  opacity: .2;
}

.side-controls label:hover {
	opacity: 1;
}

#slide1:checked ~ .side-controls label:nth-of-type(6),
#slide2:checked ~ .side-controls label:nth-of-type(1),
#slide3:checked ~ .side-controls label:nth-of-type(2),
#slide4:checked ~ .side-controls label:nth-of-type(3),
#slide5:checked ~ .side-controls label:nth-of-type(4),
#slide6:checked ~ .side-controls label:nth-of-type(5) {
  border-right: 40px solid #4ec6de;
  left: 200px;
}

#slide1:checked ~ .side-controls label:nth-of-type(2),
#slide2:checked ~ .side-controls label:nth-of-type(3),
#slide3:checked ~ .side-controls label:nth-of-type(4),
#slide4:checked ~ .side-controls label:nth-of-type(5),
#slide5:checked ~ .side-controls label:nth-of-type(6),
#slide6:checked ~ .side-controls label:nth-of-type(1) {
  border-left: 40px solid #4ec6de;
  left: 1100px;
}
