body {
  font-family: 'Roboto', 'Arial', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.main-header {
  padding-bottom: 80px;
  color: #fff;

  background: url("../img/header-bg.jpg") no-repeat center;
  background-size: cover;

}

.main-nav {
  background-color: rgba(0, 0, 0, 0.8);
}

.main-nav > .container {
  position: relative;
}

.nav-span {
  display: none;
  padding: 20px;

  font-size: 18px;
  line-height: 18px;
}

.nav-span-active {
  display: block;
}

@media(min-width: 960px) {
  .nav-span-active {
    display: none;
  }
}

.nav-toggle {
  position: absolute;
  top: 10px;
  right: 0;
  display: block;
  width: 60px;
  height: 37px;

  font-size: 0;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.nav-toggle {
  box-sizing: border-box;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.nav-toggle::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;

  width: 100%;
  height: 4px;
  background: #fff;
}

@media(min-width: 960px) {
  .nav-toggle {
    display: none;
  }
}

.main-nav-items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav-item {
  display: none;
}


.main-nav-items-active .main-nav-item {
  display: block;
}

.main-nav-item a {
  display: block;
  padding: 20px;

  font-size: 18px;
  line-height: 18px;
  color: #D2D2D9;
  text-decoration: none;
}

.main-nav-item a:active {
  color: #BF4539;
}

@media(min-width: 960px) {
  .main-nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
  }

  .main-nav-item {
    display: block;
  }

  .main-nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .main-nav-item a {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .main-nav-item a:hover {
    color: #BF4539;
  }
}

.main-title {
  margin: 0;
  margin-top: 200px;
  margin-bottom: 30px;

  font-size: 26px;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.main-nav-par {
  margin: 0;
  margin-bottom: 100px;

  color: #D2D5D9;
  font-size: 14px;
  text-align: center;
}

@media(min-width: 600px) {
  .main-title {
    font-size: 60px;
  }

  .main-nav-par {
    font-size: 22px;
  }
}


.header-btn-wrapp {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.btn {
  position: relative;
  box-sizing: border-box;
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;

  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: #D2D5D9;
  padding: 20px 40px;
  border-radius: 80px;
}

.btn:hover, .btn:active {
  background-color: #BF4539;
}

.btn-tg::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;
  width: 25px;
  height: 25px;
  background: url("../img/telegram.png") no-repeat center;
  background-size: cover;
}

.btn-wp::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;
  width: 25px;
  height: 25px;
  background: url("../img/whatsapp.png") no-repeat center;
  background-size: cover;
}

@media(min-width: 1000px) {
  .header-btn-wrapp {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .btn {
    width: 280px;
  }
}

.services {
  padding: 90px 0;

  background-color: #D2D5D9;
}

.services-par {
  font-size: 26px;
  text-align: center;
}

@media(min-width: 600px) {
  .service-par {
    font-size: 40px;
  }
}

.services-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item {
  width: 100%;
}

.services-item h3 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  padding-top: 140px;

  border-radius: 25px;
}

.services-item-call h3 {
  background: url("../img/young-soldier.jpg") no-repeat center;
  background-size: cover;
}

.services-item-mil h3 {
  background: url("../img/elephans.jpg") no-repeat center top;
  background-size: cover;
}

.services-item-money h3 {
  background: url("../img/money.jpg") no-repeat center;
}

.services-item-soc h3 {
  background: url("../img/law.jpg") no-repeat center;
  background-size: cover;
}

.services-item h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.services-item h3 a {
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin-left: -25%;
  z-index: 2;
  width: 50%;

  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: lighter;
}

@media(min-width: 960px) {
  .services-item {
    width: 50%;
  }
}


.services-item-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item-list li {
  position: relative;

  box-sizing: border-box;
  width: 80%;
  padding-left: 40px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media(min-width: 960px) {
  .services-item-list li {
    margin-bottom: 50px;
  }
}

.services-item li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;

  width: 20px;
  height: 20px;

  background: url("../img/point.png") no-repeat center;
  background-size: cover;
}

.services-item li:last-child {
  padding: 0;
}

.services-item li:last-child::before {
  content: none;
}

.services-item li .btn {
  background-color: #bf4539;
}

.services-item li .btn:hover {
  background-color: #29A683;
}

.advantages {
  padding: 90px 0;
  padding-bottom: 40px;

  color: #D2D5D9;
  background-color: #bf4539;
}

.advantages h2 {
  margin: 0;
  margin-bottom: 30px;

  font-size: 40px;
  text-align: center;
}

.advantages-par {
  margin: 0;
  margin-bottom: 100px;

  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages-list li {
  position: relative;
  margin-bottom: 40px;
  padding-top: 150px;
  padding-bottom: 40px;
  border-bottom: 3px solid #D2D5D9;
}

.advantages-list li:last-child {
  border-bottom: none;
}

.advantages-list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;

  width: 100px;
  height: 100px;
  margin-left: -50px;
}

.advantages-list li.practic::before {
  background: url("../img/file.png") no-repeat center;
  background-size: cover;
}

.advantages-list li.conf::before {
  background: url("../img/confidentiality.png") no-repeat center;
  background-size: cover;
}

.advantages-list li.pers::before {
  background: url("../img/group.png") no-repeat center;
  background-size: cover;
}

.advantages-list li.rate::before {
  background: url("../img/rating.png") no-repeat center;
  background-size: cover;
}

.advantages-list li.rev::before {
  background: url("../img/good-review.png") no-repeat center;
  background-size: cover;
}

.advantages-list li.cons::before {
  background: url("../img/interview.png") no-repeat center;
  background-size: cover;
}

.advantages-list li b {
  display: block;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.advantages-list li p {
  margin: 0;
  padding: 0;

  text-align: center;
}

@media(min-width: 960px) {
  .advantages {
    padding-bottom: 90px;
  }
  .advantages-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages-list li {
    width: 30%;
  }

  .advantages-list li:last-child {
    border-bottom: 3px solid #D2D5D9;
  }
}

.map {
  position: relative;

  padding-top: 100px;
  padding-bottom: 500px;
  background: url("../img/russia.png") no-repeat center,
              url("../img/h-bg.jpeg") no-repeat center;
  background-size: 100%, cover;
}

@media(min-width: 800px) {
  .map {
    background-size: 70%, cover;
  }
}


.map p {
  margin: 0;

  color: #D2D5D9;
  text-align: center;
  font-size: 40px;
}

.contacts {
  padding-top: 100px;
  color: #fff;
  background-color: rgba(1, 22, 64, 0.8);
}

.contacts-title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
}

.img-cont {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 50%;
}

.img-cont img {
  border-radius: 50%;
}

.contacts-cont {
  max-width: 500px;
  margin: 0 auto;
}

.contacts .btn-tg::before,
.contacts .btn-wp::before {
  left: 40px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  margin-top: 100px;
  padding: 60px 0;

  list-style: none;

  background: #000;
}

.socials-icon {
  display: block;
}

.socials-icon {
  width: 80px;
  height: 80px;
  margin-right: 10px;

  font-size: 0;

  border: 2px solid #fff;
  border-radius: 50%;
}

.socials-icon:hover {
  border-color: #BF4539;
}

.socials-tg {
  background: url("../img/tg.png") no-repeat center;
  background-size: 50%;
}

.socials-wp {
  background: url("../img/wp.png") no-repeat center;
  background-size: 80%;
}


.socials-vk {
  background: url("../img/vk.png") no-repeat center;
  background-size: 80%;
}

footer {
  padding: 20px 0;
  background-color: #D2D5D9;
}

footer h2 {
  margin: 0;
  margin-bottom: 30px;
}
