html,
body {
min-width: 960px;
font-weight: 700;
font-size: 14px;
line-height: 24px;
font-family: "PT Sans Narrow", "Arial", sans-serif;
text-transform: uppercase;
color: white;
background: #000000 url("../img/background/tint.jpg") no-repeat center top;
}
.inner-page {
  color: #000;
  background: #f8f5f2 url("../img/background/pattern1.jpg");
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
margin-bottom: 60px;
color: white;
background-color: #000000;
}
.inner-page .main-header {
  margin-bottom: 55px;
}
.main-navigation {
  float: left;
  width: 780px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
font-size: 0;
  list-style: none;
}
.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}
.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: white;
  text-decoration: none;
  transition:
background-color 0.5s;
}
.main-navigation a:hover {
  background: #242424;
}
.main-navigation .active {
  position: relative;
  background-color: none;
}
.main-navigation .active::after {
  content: "";
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 0;
  height: 5px;
  background: #fff;
}
.main-navigation .active span {
  display: block;
  padding: 25px 20px;
}
.main-navigation .active a:hover {
  background: none;
}
.main-navigation .logo-inner img {
  width: 111px;
  height: 24px;
}
.main-navigation .logo-inner {
  float: left;
  width: 111px;
  height: 20px;
  padding-top: 22px;
}
.main-navigation .logo-inner:hover {
  background: none;
}
.user-block {
  float: right;
  max-width: 140px;
}
.login {
  position: relative;

display: inline-block;
padding: 25px 20px;
padding-left: 50px;
font-size: 16px;
line-height: 20px;
vertical-align: top;
color: white;
text-decoration: none;
transition:
background-color 0.5s;
}
.login:hover {
  background-color: #242424;
}
.login::before {
  content: "";
position: absolute;
top: 28px;
left: 20px;
width: 27px;
height: 29px;
opacity: 0.3;
  background: url("../img/dec/icon-login-white.png") no-repeat;
  transition:
  opacity 0.5s;
}
.login:hover::before {
opacity: 1;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.index-logo {
  height: 204px;
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}
.index-logo img {
  width: 368px;
  height: 204px;
}
.features {
  margin-bottom: 80px;
}
.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}
.features-item:last-child {
  margin-right: 0;
}
.features-name {
  display: block;
  position: relative;
margin-bottom: 30px;
padding-bottom: 35px;

  font-size: 30px;
  line-height: 42px;
}
.features-item p {
  margin: 10px;
  margin-bottom: 0;
}
.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  transform: rotate(45deg);

}

.index-content {
  background:
  url("../img/dec/ndex-content-shadow.png") no-repeat center,
  #f8f5f2 url("../img/background/pattern1.jpg");
  color: black;
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;
}
.index-content-right {
  float: right;
  width: 300px;
}
.index-content-title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}
.index-content p {
  margin: 0;
  margin-bottom: 25px;
}
.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  list-style: none;
}
.news-preview li {
  margin-bottom: 25px;
}
.news-preview p {
  margin-bottom: 0;
}
.news-preview time {
  text-transform: none;
  font-weight: 400;

}
.btn{
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
  transition:
background-color 0.5s;
}
.btn:hover,
.btn:active {
  background-color: #663d15;
}
.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}
.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.gallery-content {
  margin: 0;
  max-height: 200px;
  overflow: auto;
}
.gallery-content img {
  width: 135px;
  height: 82px;
  margin-right: 5px;
}
.gallery-live {
  position: relative;
  height: 260px;
}
.gallery-live .gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #fff;
}
.gallery .btn {
  display: none;
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}
.gallery-prev {
  left: 0;
}
.gallery-next {
  right: 0;
}
.gallery-live .gallery-content a {
  position: absolute;
  top: 7px;
  left: 7px;
}
.gallery-live .gallery-content img {
  width: 286px;
  height: 164px;
}
.gallery-live .btn {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}
.gallery-live .gallery-prev {
  left: 0;

}
.gallery-live .gallery-next {
  right: 0;

}
.appointment-form input {
  width: 106px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  font: inherit;
  color: inherit;
  text-transform: inherit;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}
.appointment-form input:nth-child(2n) {
  margin-right: 0;
}
.appointment-form input:focus {
  border: 2px solid #663d15;
}
.appointment-form .btn {
  clear: both;
  width: 100%;
}

/*Стили внутренних страниц*/

.inner-page-title {
  margin-bottom: 55px;
}
.inner-content h2 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
}
.inner-content h3 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
}
.inner-content h2 + h3 {
  margin-top: 30px;
}
.inner-content p {
  margin: 14px 0;
}
.inner-content table {
  border-collapse: collapse;
}
.inner-content td {
  padding: 10px 15px;
  border: 2px solid #000;
}
.inner-page-title h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 40px;
}
.breadcrumbs a {
  color: #000;
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs .current {
  color: #aba9a7;
}
.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 16px;
  width: 8px;
  height: 8px;
  background-color: #000;
  transform: rotate(45deg);
}
.breadcrumbs li:last-child::after {
  content: none;
}

/*Особые стили для контентных тегов*/

.big-heading {
  margin-top: 55px;
  margin-bottom: 65px;
  text-align: center;
}
.big-heading h2 {
  position: relative;
  z-index: 2;
  display: inline;
  margin: 0;
  padding: 0 25px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  background: #f8f5f2 url("../img/background/pattern1.jpg");

}
.big-heading::after {
  content: "";
  position: relative;
  top: -25px;
  z-index: 1;
  display: block;
  border-bottom: 2px solid #000000;
}

.custom-list-2,
.custom-list-1 {
  position: relative;
  margin: 14px 0;
  padding: 0;
  list-style: none;
}
.custom-list-1 li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
}
.custom-list-2 li::before,
.custom-list-1 li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #000;
  transform: rotate(45deg);
}

.custom-list-2 li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
}

.prices-table {
  width: 100%;
}
.prices-table td {
  width: 50%;
}
.prices-table td:last-child {
  text-align: center;
}

/*Колонки для контента*/

.inner-columns  {
  margin: 60px 0;
}
.inner-column-left,
.inner-column-right {
  width: 460px;
}
.inner-column-left {
  float: left;
}
.inner-column-right {
  float: right;
}
.inner-column-left *:first-child,
.inner-column-right *:first-child {
  margin-top: 0;
}
.inner-column-left *:last-child,
.inner-column-right *:last-child {
  margin-bottom: 0;
}
.inner-column-left-1 {
  width: 540;
  float: left;
}
.inner-column-right-1 {
  float: right;
  width: 390px;
  padding-top: 25px;
}
.inner-column-left-2 {
  float: left;
  width: 220px;
}
.inner-column-left-2 .autors h2 {
  margin-top: 0;
}

.inner-column-right-2 {
  float: right;
  width: 700px;
}
.primary {
  float: left;
  margin-bottom: 21px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.Miniatures img {
  float: left;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.deal {
  margin-top: 35px;
}
.price {
  display: inline-block;
  margin-top: 0px;
  font-size: 14px;
  line-height: 16px;
  padding: 15px 25px 13px;
  background-color: #e5e5e5;
}
.inner-column-left-2 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.inner-column-left-2 ul li {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}
.checkbox-custom input[type="checkbox"] {
  display: none;
}
.checkbox-custom {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.checkbox-custom:hover {
  color: #663d15;
}
.checkbox-custom input[type="checkbox"] +
.checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;

  border: 2px solid black;
}
.checkbox-custom input[type="checkbox"]:checked
+ .checkbox-indicator::before,
.checkbox-custom input[type="checkbox"]:checked
+ .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: black;
}
.checkbox-custom input[type="checkbox"]:checked
+ .checkbox-indicator::before {
  transform: rotate(45deg);
}
.checkbox-custom input[type="checkbox"]:checked
+ .checkbox-indicator::after {
  transform: rotate(-45deg);
}
.radio-custom input[type="radio"] {
  display: none;
}
.radio-custom {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.radio-custom:hover {
  color: #663d15;
}
.radio-custom input[type="radio"] +
.radio-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
border-radius: 50%;
  border: 2px solid black;
}
.radio-custom input[type="radio"]:checked
+ .radio-indicator::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: black;
}
.goods-list{
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
  font-size: 0;
}
.goods-list li {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  font-size: 14px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.goods-list li:nth-child(3n) {
  margin-right: 0;
}
.good-title {
  font-size: 14px;
  line-height: 18px;
  margin: 15px 15px;
}
.buy {
  font-size: 0;
  width: 190px;
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 15px;
}
.inner-column-right-2 .price {
  width: 110px;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  padding: 15px 0px;
  vertical-align: top;
  text-align: center;
  background-color: lightgray;
}
.buy a.buy-btn{
  width: 78px;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 15px 0px;
  transition:
background-color 0.5s;
}
.buy a.buy-btn:hover {
background-color: #663d15;
}
.category {
  text-transform: none;
}
.btn-goods {
  display: inline-block;
  margin-right: 6px;
  padding: 15px 17px;
  font-size: 14px;
  line-height: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
  transition:
background-color 0.5s;
}
.btn-goods:hover {
  background-color: #663d15;
}
.btn-goods:active {
  background-color: white;
  color: black;
}
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;
  background: #252525 url("../img/background/pattern2.jpg") no-repeat;
}
.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}
.footer-contacts a {
  color: white;
}
.footer-contacts a:hover {
  text-decoration: none;
}
.footer-social {
  text-align: center;
  float: left;
  width: 180px;
}
.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}
.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
background: #000000;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  transition:
  background-position 0.5s,
  background-color 0.5s;
}

.social-btn-vk {
  background: #000000 url("../img/icons/v.png") center no-repeat;
}
.social-btn-vk:hover {
  background: #000000 url("../img/icons/v2.png") center no-repeat;
}
.social-btn-fb {
  background: #000000 url("../img/icons/f.png") center no-repeat;
}
.social-btn-fb:hover {
  background: #000000 url("../img/icons/f2.png") center no-repeat;
}
.social-btn-inst {
  background: #000000 url("../img/icons/i.png") center no-repeat;
}
.social-btn-inst:hover {
  background: #000000 url("../img/icons/i2.png") center no-repeat;
}
.social-btn:hover {
  background-color: #ffffff;
}
.footer-copyright {
float: right;
max-width: 180px;
}
.footer-copyright p {
margin: 0;
margin-bottom: 15px;
text-align: center;
}
.footer-copyright .btn {
  margin-right: 0;
}
.inner-content .login-form {
  width: 300px;
  margin: 0 auto;
}
/*Всплывающая форма*/

.modal-content {
  display: none;
  position: absolute;
  top: 120px;
  left: 50%;
  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;
  color: #000;
  background: #f8f5f2 url("../img/background/pattern1.jpg");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-error {
  animation: shake 0.6s;
}
.modal-content-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}
.modal-content-close::before {
  transform: rotate(45deg);
}
.modal-content-close::after {
  transform: rotate(-45deg);
}
.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}
.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}
.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #f9f6f3;
  border: 2px solid #000;
  outline: none;
}
.login-form input:focus {
  border-color: #663d15;
}
.login-form input.icon-user {
  background: url("../img/icons/User.png") no-repeat 95%;
}
.login-form input.icon-password {
  background: url("../img/icons/password.png") no-repeat 95%;
}
.login-form .restore {
  float: right;
  color: #000;
}
.login-form .restore:hover {
  text-decoration: none;
}
.login-form .btn {
  width: 100%;
  margin-top: 15px;
}
.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.login-checkbox:hover {
  color: #663d15;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}
.login-checkbox input[type="checkbox"]:checked
 + .checkbox-indicator::before,
 .login-checkbox input[type="checkbox"]:checked
  + .checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;
    width: 15px;
    height: 2px;
    background-color: #000;
  }
  .login-checkbox input[type="checkbox"]:checked
   + .checkbox-indicator::before {
     transform: rotate(45deg);
   }
   .login-checkbox input[type="checkbox"]:checked
    + .checkbox-indicator::after {
      transform: rotate(-45deg);
    }
.modal-content-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  display: none;
  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;
  background: #e9e5dc url("../img/content/map.jpg");
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
@keyframes bounce {
  0% { transform: translatey(-2000px); }
  70% { transform: translatey(30px); }
  90% { transform: translatey(-10px); }
  100% { transform: translatey(0px); }
}
@keyframes shake {
  0%, 100% { transform: translatex(0); }
  10%, 30%, 50%, 70%, 90% { transform: translatex(-10px); }
  20%, 40%, 60^, 80% { transform: translatex(10px); }
}
.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}
